.person-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #3a3a3a;
    border-radius: 15px;
    border: 4px double #00bc8c;
}

.person-details img {
width: 200px;
    height: 275px;
    border-radius: 15px;
}

.person-details ul {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.person-details .property-area {
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.person-details .property {
    width: 110px;
    margin-right: 20px;
}