.random-planets{
    width: 65%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background-color: #3a3a3a;
    border-radius: 15px;
    border:4px double #00bc8c;
}
.random-planets img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.random-planets ul{
    display:flex;
    flex-direction: column;
}
.random-planets .term{
    width: 110px;
    margin-right: 20px;
}
.random-planets .term-area li{
    display: flex;
    flex-direction: row;
}
